//fonts
$font-title: 'Lobster', cursive;
$font-general: 'Roboto', sans-serif;
$font-logo: 'Dancing Script', cursive;



//colors

$color-primary: rgb(134,76,210);
$color-secundary: #000000;
$color-dark: rgb(51, 51, 51);
$color-gray: rgba(51, 51, 51, 0.5);
$color-light: rgb(255, 255, 255);
