.footer{
    background-color: black;
    color: $color-light;
    font-weight: bold;
    
    text-align: center;
    @include flex-jc(space-between);
    &__img{
        width: 30px;
        margin: 10px;
    }
}

.footer p {
    font-size: 1rem;
}