.navbar{
    background-color: rgba(0, 0, 0, 0.448)!important;
}

.logo{
    font-size: 40px;
    color: $color-light;
    padding-left: 30px;
    font-family: $font-logo;
}

.nav .bag{
    width: 24px;
}

