.main{
background-color:black;

    &__section-primary{
        background-color: $color-secundary;
        color: $color-light;

    }
    &__subtitle{
        padding-bottom: 20px;
    }

    &__container{

            display: grid;
            grid-auto-flow:dense;
            grid-auto-rows:22rem;
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr)); /* see notes below */
            gap: 1rem;
    }
    
    &__list{
        list-style-position: inside
    }

    .mvendidos{
        position: relative;
        bottom:60px;
        // right:100px;
        font-size: 2.5rem;
    }

    .section-cards{
        display: flex;
    }
}


@media only screen and (min-width: 568px) {
    .main__container{
      
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); /* see notes below */
        gap: 2rem;
}
}

@media only screen and (min-width: 768px) {
    .main__container{
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr)); /* see notes below */
        gap: 3rem;
}
}



